@use "tailwindcss";
@plugin "tailwindcss-primeui";

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;


    .content-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        gap: 1rem;

        .ng-star-inserted {
            width: 100%;
            max-width: 600px;
        }
    }
}