<div class="navbar bg-base-200 shadow-sm">
    <div class="flex flex-1 gap-4 justify-center items-center">
        <fa-icon class="fa-xl" [icon]="faRectangleList" />
        <span class="text-lg font-bold text-amber-500">{{ title }}</span>
    </div>
    <div class="flex-none">
        <div class="tooltip" data-tip="Login">
            <button class="btn btn-ghost btn-circle">
                <fa-icon class="fa-xl" [icon]="faUserCircle" />
            </button>
        </div>
        <div class="tooltip" data-tip="Login">
            <button class="btn btn-ghost btn-circle">
                <ng-icon name="tablerLogin" strokeWidth="2" size="24"></ng-icon>
            </button>
        </div>
    </div>
</div>