<div>
    <form [formGroup]="todoForm" class="flex flex-col gap-4 form">
        <div class="flex flex-col gap-2">
            <label for="title">Título*</label>
            <input pInputText id="title" formControlName="title" pSize="small" />
        </div>

        <div class="flex flex-col gap-2">
            <label for="description">Descrição*</label>
            <textarea id="description" rows="5" cols="30" pTextarea formControlName="description" pSize="small"
                class="border"></textarea>
        </div>

        <div class="flex flex-col gap-2">
            <label for="dueDate">Data limite</label>
            <p-datepicker appendTo="body" id="dueDate" formControlName="dueDate" [showIcon]="true" [showTime]="true"
                size="small" baseZIndex="500" [hourFormat]="'24'" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="priority">Prioridade</label>
            <p-selectbutton [options]="priorities" formControlName="priority" optionLabel="label" optionValue="value" />
        </div>

        <div class="flex flex-col gap-2">
            <label for="status">Situação</label>
            <p-selectbutton [options]="statuses" formControlName="status" optionLabel="label" optionValue="value" />
        </div>

        <div class="flex justify-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="close()" />
            <p-button label="Salvar" severity="primary" [disabled]="!todoForm.valid" (click)="submit()" />
        </div>
    </form>
</div>